PORT=8000
MONGODB_URI=mongodb+srv://sankalpkombey:<PASSWORD>@cluster0.sx9ln2z.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=7f2c9e4d8b1a6c3f5e8d0a1b4c7e9f2d6a8b3c1e5f7d9a2c4e6b8d0f1a3c5e7
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=4c8f1a7d9e2b5c3f6a0d8e1b7c9f2a4d5e6b3c1f8a0d7e2c9b4f6a1d3e5c7b8
REFRESH_TOKEN_EXPIRY=10d